.navbar-custom {
  border-bottom: 5px solid lightgray;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-custom {
  border-bottom: 5px solid green;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-custom {
  border-bottom: 5px solid sandybrown;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-custom {
  border-bottom: 5px solid blue;
}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-custom {
  border-bottom: 5px solid pink;
}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .navbar-custom {
  border-bottom: 5px solid lightblue;
}
}